@font-face {
    font-family: Bricolage;
    src: url(../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: DM_Sans;
    src: url(../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: DM_Sans1;
    src: url(../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--neutral-900);
    color: var(--neutral-0);
    font-family: DM_Sans1;
    /* min-height: 100vh; */
}
.app{
    width: 100%;
    min-height: 100dvh;
    padding: 30px 25px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    width: 150px;
}
.nav .units{
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    cursor: pointer;
    color: var(--neutral-0);

    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    
}
.nav .units .unit-dropdown{
    appearance: none;
}
.nav .units .drop-sel{
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: var(--neutral-700);
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.nav .units img{
    width: 12px;
}
.nav .units img:nth-child(1){
    width: 16px;
}
.nav .units .drop-opt{
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    width: max-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-800);
    border-color: 1px solid var(--neutral-700);
    border-radius: 7px;
    padding: 3px 5px;
    box-shadow: 4px 4px 10px 8px rgba(0, 0, 0, 0.089);
    z-index: 10;
    opacity: 0;
    transition: 0.35s ease;
    visibility: hidden;
}
.nav .units .unit-icon-dropdown{
    transition: 0.35s ease;
}
.nav .units:has(.unit-dropdown[type="checkbox"]:checked){
    .drop-opt{
        visibility: visible;
        opacity: 1;
        transition: 0.35s ease;
    }
    .unit-icon-dropdown{
        transform: rotate(180deg);
        transition: 0.35s ease;
    }
}
.nav .units:has(.unit-dropdown[type="checkbox"]:focus-visible){
    outline: 2px solid var(--neutral-0);
    outline-offset: 3px;
}
.nav .units .drop-opt label{
    padding: 6px 6px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: all 0.35s ease;
    position: relative;
}
.nav .units .drop-opt label:hover{
    background-color: var(--neutral-700);
}
.nav .units .drop-opt label img{
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 12px;
}
.nav .units .drop-opt input{
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
}
.nav .units .drop-opt label:has(input[type="checkbox"]:checked){
    background-color: var(--neutral-700);

    img{
        opacity: 1;
    }
}
.nav .units .drop-opt label:has(input[type="checkbox"]:focus-visible){
    outline: 1px solid var(--neutral-0);
}

.nav .units .drop-opt p{
    font-size: 0.8rem;
    color: var(--neutral-200);
    opacity: 0.9;
    padding: 4px 6px;
}
.nav .units .drop-opt > *{
    display: flex;
    flex-direction: column;

    *{
        margin-bottom: 2px;
    }
}
.nav .units .drop-opt > * + *{
    border-bottom: 1.5px solid var(--neutral-700);
}
.greet{
    text-align: center;
    margin-block: 30px;
    font-size: 3.2rem;
    font-family: Bricolage;
}
.search{
    max-width: 550px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    position: relative;
}
.search .search-icon{
    display: block;
    width: 18px;
    padding: 6px 0;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.search .input-con{
    flex: 1;
    position: relative;
    height: 100%;
}
.search input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.1rem;
    background-color: var(--neutral-700);
    width: 100%;
    padding-block: 11.7px;
    padding-inline: 45px 10px;
    height: 100%;
    color: var(--neutral-0);
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.3s ease-in;
}
.search input:hover{
    background-color: var(--neutral-600);
}
.search input::placeholder{
    color:  var(--neutral-200);
    font-size: 1.15rem;
    font-family: DM_Sans1;
    letter-spacing: .5px;
}
.search input:focus{
    border: none;
    outline: none;
}
.search input:focus-visible{
    border: none;
    outline-offset: 3px;
    outline: 2px solid var(--neutral-0);
}
.search #search{
    border: none;
    outline: none;
    background-color: var(--blue-500);
    padding: 11.4px 18px;
    border-radius: 8px;
    color: var(--neutral-0);
    font-size: 1.15rem;
    transition: background-color 0.3s ease-in;
}
.search #search:hover{
    background-color: var(--blue-700);
}
.search button:focus-visible{
    outline: 2px solid var(--blue-500);
    outline-offset: 3px;
}

.input-con .search-in-progress{
    position: absolute;
    background-color: var(--neutral-800);
    top: calc(100% + 10px);
    width: 100%;
    border-radius: 7px;
    padding: 12px 12px;
    display: none;
    gap: 10px;
}
.input-con .progress-img{
    width: 14px;
    animation: loading 0.8s linear infinite;
}
.input-con .in-progerss-txt{
    font-size: 16px;
    font-weight: 400;
}
@keyframes loading {
    to{
       transform: rotate(360deg); 
    }
}
.input-con .search-drop-con{
    position: absolute;
    background-color: var(--neutral-800);
    top: calc(100% + 10px);
    width: 100%;
    border-radius: 14px;
    max-height: 220px;
    height: 220px;
    overflow: auto;
    display: none;
}
.input-con .search-drop-con::-webkit-scrollbar{
    display: none;
}
.input-con .search-opt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
    border-radius: 7px;
    padding: 6px 10px;
    transition: background-color 0.3s ease-in;

    .country{
        font-size: 12px;
        font-weight: 500;
        color: var(--neutral-0);
    }

    .description{
        font-size: 10px;
        color: var(--neutral-200);
    }
}
.input-con .search-opt:hover{
    background-color: var(--neutral-600);
}
.input-con .search-drop{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: auto;
    
    padding: 10px 12px;
}
.input-con .search-drop::-webkit-scrollbar{
    appearance: none;
    width: 3px;
}
.input-con .search-drop::-webkit-scrollbar-thumb{
    width: 50px;
    background-color: var(--neutral-600);
}










      /* Weather Forcast Start */
.forecast{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 70%;
    gap: 30px;
}


.forecast .left-box{
    height: 100%;
}
.forecast .right-box{
    height: 100%;
}
.forecast .display-forecast{
    width: 100%;
    display: grid;
    margin-bottom: 30px;
}
.forecast .display-forecast > *{
    grid-row: -1/1;
    grid-column: -1/1;
}
.forecast .display-forecast .display-img{
    display: inline-block;
    width: 100%;
}
.forecast .display-forecast .detail-nd-temp{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.forecast .display-forecast .temp-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.forecast .display-forecast .temp-con img{
    width: 100px;
}
.forecast .display-forecast .detail-nd-temp .temp{
    font-size: 6rem;
    text-align: center;
    font-family: DM_Sans;
}
.forecast .display-forecast .details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.forecast .display-forecast .details .location:nth-child(1){
    font-size: 1.9rem;
}
.forecast .display-forecast .details .location:nth-child(2){
    font-size: 1.2rem;
    color: var(--neutral-200);
}

.feel-forecast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* justify-content: space-between;
    align-items: center; */
    width: 100%;
    gap: 20px;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}
.feel-forecast .box{
    display: grid;
    flex-direction: column;
    padding: 20px 20px;
    gap: 20px;
    background-color: var(--neutral-800);
    flex: 1 0 auto;
    border-radius: 8px;
    border: 1px solid var(--neutral-600);
}
.feel-forecast .box .box-text{
    font-size: 1rem;
    color: var(--neutral-200)
}
.feel-forecast .box .box-temp{
    font-size: 1.8rem;
}


.daily-forecast{
    margin-bottom: 30px;
}
.daily-forecast .daily-con{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(78px, 1fr));
    gap: 20px;
    width: 100%;
}
.daily-forecast .daily-con .box{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 16px 10px;
    border: 1px solid var(--neutral-600);
    border-radius: 8px;
    background-color: var(--neutral-800);
}
.daily-forecast .daily-con .box .day{
    font-size: 0.9rem;
    text-align: center;
}
.daily-forecast .daily-con .box img{
    width: 37px;
}
.daily-forecast .daily-con .box .temp-daily{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--neutral-200);
    font-size: 0.7rem;
}
.daily-forecast h3{
    margin-bottom: 20px;
}
.hourly-forecast{
    background-color: var(--neutral-800);
    opacity: 1;
    border-radius: 12px;
    overflow: hidden;
    font-weight: 400;
}
.hourly-forecast h4{
    font-size: 1.1rem;
    font-weight: 500;
}
.hourly-forecast .drop-day{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.hourly-forecast .drop-day .day-drop-opt{
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-700);
    border-radius: 7px;
    padding: 3px 5px;
    box-shadow: 4px 4px 10px 8px rgba(0, 0, 0, 0.089);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease;
}
.hourly-forecast .drop-day .day-switch{
    display: none;
    appearance: none;
}
.day-icon-dropdown{
    transition: 0.35s ease;
}
.hourly-forecast .drop-day:has(.day-switch[type="checkbox"]:checked){
    .day-drop-opt{
        visibility: visible;
        opacity: 1;
        transition: 0.35s ease;
    }
    .day-icon-dropdown{
        transform: rotate(180deg);
        transition: 0.35s ease;
    }
}
.hourly-forecast .day-drop-opt label{
    padding: 6px 6px;
    padding-inline-end: 70px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: all 0.35s ease;
}
.hourly-forecast .day-drop-opt label:hover{
    background-color: var(--neutral-700);
}
.hourly-forecast .day-drop-opt label:has(input[type="checkbox"]:checked){
    background-color: var(--neutral-700);

    img{
        opacity: 1;
    }
}
.hourly-forecast .day-drop-opt label input{
    display: none;
    appearance: none;
}
.hourly-forecast .hourly-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 20px 20px 0;
}
.hourly-forecast .hourly-title .drop{
    display: flex;
    gap: 5px;
    background-color: var(--neutral-600);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 0.9rem;
}
.hourly-forecast .list-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    padding-block-end: 25px;
    height: 532px;
    overflow-y: auto;
}
.hourly-forecast .list-con::-webkit-scrollbar{
    appearance: none;
    width: 3px;
}
.hourly-forecast .list-con::-webkit-scrollbar-thumb{
    width: 50px;
    background-color: var(--neutral-600);
}
.hourly-forecast .list-con .hour-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid var(--neutral-600);
}
.hourly-forecast .list-con .hour-box .detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hourly-forecast .list-con .detail img{
    width: 35px;
}



/* Loading design  */


.load-con{
    background-color: transparent;
    color: var(--neutral-0);
}
/* .load-con .demo-left{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
} */
.demo-left .display-demo{
    background-color: var(--neutral-800);
    height: 280px;
    padding: 50px; 
    border-radius: 8px;
    margin-bottom: 30px;   
    text-align: center;
    position: relative;

}
.demo-left .display-demo .load-ani{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.display-demo .load-ani .bounce{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.display-demo .load-ani .bounce span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--neutral-200);
    border-radius: 50%;
    animation: bounce 0.8s ease infinite ;
}
.display-demo .load-ani .bounce span:nth-child(2){
    animation-delay: 0.15s;
}
.display-demo .load-ani .bounce span:nth-child(3){
    animation-delay: 0.25s;
}
@keyframes bounce {
    50%{
        translate: 0 -15px;
    }

}
.display-demo .load-ani p{
    font-size: 18px;
    color: var(--neutral-200);
}
.demo-left .feel-demo{
    margin-bottom: 40px;  
    display: grid;
    gap: 20px;
    height: max-content;
}
.demo-left .feel-demo .feel-box{
    background-color: var(--neutral-800);
    padding: 25px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
    border: 1px solid var(--neutral-600);
    color: var(--neutral-200);
}
.demo-left .feel-demo .feel-box div{
    height: 2px;
    width: 15px;
    background-color: var(--neutral-0);
}
.demo-left .demo-daily-con{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(78px, 1fr)); 
    gap: 20px;   
    height: max-content;
}
.daily-demo p{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
}
.demo-left .demo-daily-con .daily-box{
    background-color: var(--neutral-800);
    border-radius: 8px;
    padding: 70px 20px;
    border: 1px solid var(--neutral-600);
}
.demo-right{
    display: grid;
}
.demo-right .hourly-demo{
    background-color: var(--neutral-800);
    border-radius: 8px;
    height: max-content;
}
.demo-right .demo-hourly-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
    margin-bottom: 15px;
}
.demo-right .demo-hourly-title p{
    font-size: 18px;
    font-weight: 500;
}
.demo-right .demo-hourly-title .dash-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--neutral-600);
    padding: 10px 15px;
    border-radius: 4px;

    .dash{
        width: 4px;
        height: 2px;
        background-color: var(--neutral-0);
    }
}
.demo-right .demo-hourly-con{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
    padding-inline: 20px;
    padding-block-end: 25px;
}
.demo-right .demo-hourly-con .hourly-box{
    background-color: var(--neutral-700);
    padding: 25px 2px;
    border: 1px solid var(--neutral-600);
    border-radius: 8px;
}

/* API error  */

.api-error{
    text-align: center;
}
.api-error .caution{
    width: 30px;
    margin: 0;
    padding: 0;
}
.api-error .error-txt{
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-inline: auto;
    font-size: 18px;
    color: var(--neutral-200);
}
.api-error .retry{
    padding: 10px 16px;
    background-color: var(--neutral-800);
    border: none;
    outline: none;
    color: var(--neutral-0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: auto;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.api-error .retry:hover{
    background-color: var(--neutral-600);
}
.api-error .retry:focus-visible{
    outline: 1px solid var(--neutral-0);
    outline-offset: 2px;
}























@media (width < 830px) {
    .forecast{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (width < 544px) {

    /* the display image to small version */


    /* .forecast{
        display: grid;
        grid-template-columns: 1fr;
    } */
    .forecast .display-forecast picture{
        display: block;
        max-width: 100%;
        width: 100%;
    }
    .forecast .display-forecast picture source{
        width: 100px;
        object-fit: cover;

    }
    .forecast .display-forecast .detail-nd-temp{
        flex-direction: column;
    }
    .forecast .display-forecast .temp-con{
        width: 80%;
    }
    .forecast .display-forecast .details{
        text-align: center;
    }
    
}
@media (width < 452px){
    .search{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .search .input-con{
        display: flex;
    }
    .search input{
        flex: 1;
        flex-shrink: 0;
    }
}
@media (width < 418px) {
     .forecast .display-forecast .temp-con{
        width: 100%;
        gap: 0;
    }
    .forecast .display-forecast .detail-nd-temp .temp{
        font-size: 5rem;
        text-align: center;
    }
    .feel-forecast{
        grid-template-columns: 1fr 1fr;
    }
    h1{
        font-size: 3.7rem;
    }
}
@media (width < 340px) {

    /* Reduce logo size */
    .nav .logo{
        width: 130px;
    }

}